<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voter Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">

    <div class="flex">
        {% include 'maaun/v-Sidebar.html' %}
        


        <main class="lg:ml-64 p-8 w-full">
            
            <div class="bg-white shadow-md rounded-lg p-6 ">
                <h1 class="text-xl font-bold text-gray-900">Welcome, <strong>Vote Wisely</strong>!</h1>
               
                {% include 'maaun/mobile-nav.html' %}
                <h1 class="text-xl font-bold text-gray-900">

                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </h1>
            </div>

            <div class="mt-8 bg-white shadow-md rounded-lg p-6">

                <div class="flex justify-between">
                    <h2 class="text-2xl font-bold text-gray-900">{{ position.name }} Candidates</h2>
                    <h2 class="text-2xl font-bold text-gray-900">{{ election.year }} Election</h2>

                </div>

                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 space-x-6 gap-6 mt-4">
                    {% for candidate in candidates %}
                    <div class="bg-gray-100 p-4 rounded-lg shadow-md text-center">
                        <img src="{{ candidate.avater.url}}" alt="Candidate Photo" class="w-24 h-24 object-cover rounded-full mx-auto border-4 border-blue-500 shadow-md">
                        <h3 class="text-lg font-semibold text-gray-900 mt-2">{{ candidate.first_name }} {{ candidate.last_name }}</h3>
                        <p class="text-sm text-gray-600">📚 {{ candidate.department }}</p>

                        {% if voted_candidates and candidate.id in voted_candidates %}
                            <button disabled class="mt-3 bg-gray-400 text-white px-4 py-1 rounded block">
                                Voted
                            </button>
                        {% else %}
                            <a href="{% url 'vote-candidate' candidate.id %}" class="mt-3 bg-green-600 text-white px-4 py-1 rounded hover:bg-green-800 block">
                                🗳️Vote
                            </a>
                        {% endif %}

                    </div>
                    {% empty %}
                    <p class="text-gray-500 text-center mt-4">No candidates available.</p>
                    {% endfor %}
                </div>

                <a href="{% url 'v-vote' %}" class="block mt-4 text-blue-500 hover:underline">🔙 Back</a>
            </div>

        </main>
    </div>

</body>
</html>