<div class="lg:hidden mt-4">
    <div class="flex justify-between ">
        <a href="{% url 'v-dashboard' %}" class="p-2 bg-gray-200 rounded-md text-blue-600 hover:bg-blue-300 hover:text-white transition duration-200">🏠 Dashboard</a>
        <a href="{% url 'v-vote' %}" class="p-2 px-6 bg-gray-200 rounded-md text-green-600 hover:bg-green-300 hover:text-white transition duration-200">🗳️ Vote</a>
        <a href="{% url 'results' %}" class="p-2 px-6    bg-gray-200 rounded-md text-purple-600 hover:bg-purple-300 hover:text-white transition duration-200">📊 Results</a>
    </div>
</div>