<div class="flex">
    {% comment %} the lg control the media from here {% endcomment %}
    <aside class="w-64 bg-gray-800 text-white h-screen p-6 fixed left-0 top-0 overflow-y-auto lg:block hidden">
        <h2 class="text-2xl font-bold mb-6">Voters Panel</h2>
        <hr>
        <nav>
            <ul class="mt-4">
                <li class="mb-4">
                    <a href="{% url 'v-dashboard' %}" 
                       class="{% if '/dashboard/' in request.path %}bg-blue-500 text-white font-bold px-4 py-2 rounded{% else %}hover:text-gray-300{% endif %}">
                        🏠 Dashboard
                    </a>
                </li>
                <li class="mb-4">
                    <a href="{% url 'v-vote' %}" 
                       class="{% if '/vote/' in request.path %}bg-blue-500 text-white font-bold px-4 py-2 rounded{% else %}hover:text-gray-300{% endif %}">
                        🗳️ Vote
                    </a>
                </li>
                <li class="mb-4">
                    <a href="{% url 'results' %}" class="hover:text-gray-300">📊 Results</a>
                </li>
                <li class="mb-4">
                    <a href="#" class="hover:text-gray-300">⚙️ Settings</a>
                </li>
                <li class="mt-6">
                    <a href="{% url 'logout' %}" class="text-red-400 hover:text-red-600">🚪 Logout</a>
                </li>
            </ul>
        </nav>
    </aside>

  
</div>